<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrar_mensaje</servlet-name>
        <servlet-class>Servlets.registrar_mensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio_sesion</servlet-name>
        <servlet-class>Servlets.inicio_sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar_archivo</servlet-name>
        <servlet-class>Servlets.registrar_archivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar_usuario</servlet-name>
        <servlet-class>Servlets.registrar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar_sesion</servlet-name>
        <servlet-class>Servlets.cerrar_sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrar_mensaje</servlet-name>
        <url-pattern>/nuevo_mensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicio_sesion</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar_archivo</servlet-name>
        <url-pattern>/nuevo_archivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar_usuario</servlet-name>
        <url-pattern>/nuevo_usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar_sesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
