/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2018, 11:01:05 AM
    Author     : CRIPTOTECNOLOGIA
*/

#contact p{
    font-size: 24px;;
}

.div_pago{
    background-color: rgba(16,22,26, 0.8); 
    cursor: pointer;
    border-radius: 5px;
}

.div_pago:hover{
    background-color: rgba(16,22,26, 1); 
}

.div_pago .a{
    cursor:pointer; color: #FFFFFF;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

.div_pago .label_compra{
    display: -webkit-inline-box;
    width: 100%;
}

.div_pago .img-compra{
    margin-left: 20px;
}

.btn-comprar-formulario{
    background-color: transparent;
    border: 1px solid #868f8b;
    margin: 0px auto;
    display: flex;
    padding: 0.5em 3em;
}

.btn-comprar-formulario:hover{
    background-color: #45668E;
    color: #FFFFFF;
}

/* Modal de registro de datos */

.modal-header{
    background-color: #45668E;
    padding: 10px 10px 5px 10px;
}

.modal-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

.modal-header .close{
    color: #FFFFFF;
    margin-top: -20px;
}

.close{
    font-size: 32px;
    color: #FFFFFF!important;
}

.modal-body label{
    color: #000;
}

.btn_formulario-registro{
    background-color: transparent;
    border: 1px solid #45668E;
    color: #000;
    padding: 0.5em 3em;
}

.btn_formulario-registro:hover{
    background-color: #45668E;
    color: #FFFFFF;
}

/* Fin de modal de registro de datos */

/* Mensajes de errores */
.errores{
    background: transparent;
    color: #B71C1C;
    display: none;
    font-size: 12px;
    padding: 10px;
    position: relative;
}

